body {
background-color:lightyellow;
text-align:center;
margin:0px;
}
#webseite {
width:980px;
margin:0 auto;
}

#left {
float:left;
width:200px;
height:300px;
background:yellow;
margin-top:10px;
margin-bottom:10px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
#right{
float:right;
width:770px;
height:300px;
background:darkred;
margin-top:10px;
margin-bottom:10px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
